* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* color: #262626; */


}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #FBEDE8;
}

.contenedorgridindex {
  width: 100%;
  display: grid;
  gap: 10px;
  margin: 10px auto;
  grid-template-columns: 1fr;
  
  grid-template-areas:
    "Headerindex "
    "media"
    "contenidoindex "
    "comentindex "
    "galeindex "
    "footer "




}

/* COMIENZA EL HEADER */
#idheaderindex {
  padding: 0.5rem 0.5rem;
  background-color: #dfae98;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 1;
  grid-area: Headerindex;
  place-content: flex-start;


}

#idheaderindex a i {
  color: #FBEDE8;
  margin-left: 0.0rem;
  font-size: 2.5em;
}



.buscador {
  display: flex;
  Justify-content: flex-end;
  font-size: 1.5em;
  position: absolute;
  right: 0%;

}

.boton-buscar {
  margin-right: 0.3rem;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #d17c7c;
}

.button4:hover {
  background-color: #d17c7c;
}


h1 {
  font-size: 3.5em;
  color: #FBEDE8;
}

/* TERMINA EL HEADER */



/* header * {
    display: inline;
} */


/* header ul {
    float: right;
    margin-right: 0.5rem;
    
} */

.nav-principal {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.nav-principal li {
  display: inline-block;
  padding: 10px 20px 15px 5px;
  background-color: #dfae98;
  color: rgb(239, 232, 232);
  padding: 10px 20px;
  color: rgb(239, 232, 232);
  border: 1px solid white;
  border-radius: 0.3em;
  list-style-type: disc;

}
.nav-principal li a {
  text-decoration: none;
  color: #FBEDE8;
}

/*  */




li:hover {
  background-color: #9B948C;
  /* Cambia el color cuando se coloca el mouse sobre el elemento */
  color: #FFFFFF;
  /* Cambia el color del texto cuando se coloca el mouse sobre el elemento */
  border-right: none;
}

 .tienda__contenedor a {
  text-decoration: none;
  color: #FBEDE8;
  font-size: 0.8rem;
  width: 100%;
}


#media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 50vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-area: media;
}


.contenidoindex {
  grid-area: contenidoindex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  font-size: auto;
}

.parrafo-principal {
  /* Estilos para el párrafo principal */
  text-align: center;
  /* Para centrar el texto en el contenedor */
  font-size: 1rem;
  /* Tamaño de fuente */
  line-height: 1.5;
  /* Espaciado entre líneas */
  margin: 1.25rem;
  /* Margen alrededor del párrafo para dispositivos más pequeños */
  font-style: italic;
  /* estilo en cursiva */
  background-size: cover;
  /*que ocupe todo el espacio*/
  background-position: center center;
  color: rgb(198, 59, 59)
}

.video-container iframe {

  width: 480px;
  height: 320px;
}



.opiniones {
  display: flex;
  align-self: center;
  justify-self: center;
  height: fit-content;
  display: inline-block;
  width: 100%;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  grid-area: comentindex;

}

.opiniones li {
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 20px 15px 5px;
  background-color: #dfae98;
  color: rgb(239, 232, 232);
  padding: 10px 20px;
  color: rgb(239, 232, 232);
  border: 1px solid white;
  border-radius: 0.3em;
}


.tienda__contenedor {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  grid-area: galeindex;
}

.tienda__contenedor img {
  width: 90%;
}



#idfooter {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90%;
  padding: 10px;
  bottom: 0%;
  background-color: #9B948C;
  color: #FBEDE8;
  margin: 0.1rem 0.1rem;
  align-items: center;
  align-content: center;
  position: relative;
  top: 0%;
  z-index: 1;
  justify-content: space-between;
  grid-area: footer;


}


footer p {


  color: #FBEDE8;
  justify-content: center;


}


.socialmedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #9B948C;


}


div+a {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #FBEDE8;
  font-size: 20px;
  padding: 15px;
}

@media screen and (min-width: 768px) {

  .parrafo-principal {
    text-align: center;
    font-size: 2rem;
  }
    
  .nav-principal li a {
    font-size: 1.5rem;
  }

  

  .video-container iframe {
    width: 640px;
    height: 480px;
    align-items: center;
  }

  .opiniones {
    width: 80%;
  }

  #comentarios-list {
    display: flex;
    font-size: 1rem;
  }

  .tienda__contenedor {
    flex-direction: column;
  }

  .imagenes-index {
    justify-content: center;
  }

}

@media screen and (min-width: 1440px) {
  .contenedorgridindex {
    width: 100%;
    display: grid;
    gap: 10px;
    margin: 10px auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.1fr 0.2fr 0fr 0fr 0.1fr;
    grid-template-areas:
      "Headerindex Headerindex"
      "media media"
      "contenidoindex contenidoindex "
      "comentindex comentindex "
      "galeindex  galeindex "
      "footer footer"
  }

  #idheaderindex{
 
  }

  #media{

  }

  .opiniones{
    
  }

  .tienda__contenedor{

  }
 /*es padre de parrafo, idbnav, video-container*/
  .contenidoindex{
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-flow: column nowrap;
   
  }
  .nav-principal li a {
    font-size: 2rem;
  }
  .nav-principal li {
    margin-left: 2rem;
  }
  

      .parrafo-principal {
        margin-top: 5rem;
        text-align: center;
        font-size: 2rem;
      }
      
      /*VIDEO DE YOUTUBE EN EL INDEX*/
        .video-container iframe {
          width: 1280px;
          height: 720px;
    
        }
        .opiniones h4 {
          font-size: 3rem;
        }
        #comentarios-list {
          display: flex;
          font-size: 1.5rem;
        }
  
        .tienda__contenedor{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 1024;
          justify-content: center;
          margin: 0%;
        }
        
        }
        .tienda__contenedor img {
          width: 650px;
        
        }
        .tienda__contenedor a {
          width: 650px;
          margin: 1rem;
        
        }
      
        

    #idfooter{
      height: min-content;
    }
}





/**/

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
       This is visible during transitions. */
  background-color: white;
}




/*dise;o imagenes index*/
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container>.nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}