/* Header y barra de navegacion */
*{
    padding: 0px;
    margin: 0px;
}
header{
    padding-top: 20px;
    padding-bottom: 6px;
    background-color: bisque;
    height: 50px;
}
h1 {
    box-sizing: border-box;
    font-family: Arial;
    color: rgb(83, 73, 62);
    background-color: rgb(221, 230, 94);
    padding: 20px;
}

header *{
    display: inline;
}
header h1{
    margin-left: 5%;
}
header ul{
    margin-top: 8px;
    float: right;
    margin-right: 5%;
}
li{
    padding: 15px;
    background-color: sandybrown;
    border-radius: 50px;   
}
a{
    text-decoration: none;
}

/* Del formulario de contacto */

main{
    width: 50vw;
    margin: auto;
    background-color: rgb(247, 161, 161);
}
fieldset{
    border: 0px;  
}
legend{
    padding-top: 3%;
    margin: auto;
    font-size: 2.5em;
}
.input{
    margin: 1%;
}
.input label{
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 5%;
    border-bottom: solid 3px;
    border-color: brown;
    display: inline-block;
}
.input input{
    width: 97%;
    padding: 10px;
    font-size: 1.25em;
}
.input textarea{
    width: 97%;
    padding: 10px;
    resize: none;
    font-size: 1.25em;
}
button{
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: sandybrown;
    border: 0px;
    border-radius: 45px;
}
/* del footer  */

footer{
    background-color: bisque;
    padding: 30px;
}