/*--------------------------ESTILOS GENERALES---------------------------------*/
body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Lora';
}

h2,
h4 {
    text-align: center;
}

h4 {
    font-family: 'Crimson Text';
}

h5 {
    font-family: 'Libre Baskerville';
}

/*--------------------------BARRA DE NAVEGACION---------------------------------*/

.navbar {
    background-color: #FBEDE8;
}

/*--------------------------SECCION PRINCIPAL---------------------------------*/

h1 {
    font-size: 3.5em;
    color: #FBEDE8;
}


.media {
    width: 100%;
    height: 50vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-area: media;
}

/*--------------------------PROVINCIAS---------------------------------*/
.provincias {
    padding: 2.5rem;
}

.provincias .columna {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.provincias .columna:hover {
    color: white;
    background-color: #9D8585;
}

.provincias i {
    font-size: 2rem;
    color: #0a0a23;
    background-color: #FBEDE8;
    padding: 0.5rem 1.18rem;
    border-radius: 60%;
}

.provincias-titulo {
    font-size: 1.56rem;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.625rem 0;
}

/*--------------------------PARRAFO PRINCIPAL---------------------------------*/

.contenidoindex {
    background-color: #FBEDE8;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.parrafo-principal {
    /* Estilos para el párrafo principal */
    text-align: center;
    /* Para centrar el texto en el contenedor */
    font-size: 1rem;
    /* Tamaño de fuente */
    line-height: 1.5;
    /* Espaciado entre líneas */
    margin: 1.25rem;
    /* Margen alrededor del párrafo para dispositivos más pequeños */
    background-size: cover;
    /*que ocupe todo el espacio*/
    background-position: center center;
    color: rgb(198, 59, 59)
}


/*--------------------------VIDEO YOUTUBE---------------------------------*/
.video-container iframe {
    width: 480px;
    height: 320px;
}



/*--------------------------GALERIA---------------------------------*/

.galeria {
    padding: 2.5rem 5rem 2.5rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.galeria .carousel {
    max-width: 30rem;
}

/*--------------------------FOOTER---------------------------------*/

.footer {
    min-height: 31.25rem;
    margin-top: auto;
    margin-bottom: 0;
}

.seccion-oscura {
    background-color: #FBEDE8;
}

.footer-logo {
    height: 3.2rem;
    width: 3.2rem;
    margin: 0.625rem;
}

.footer-texto {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgb(187, 186, 186);
    border-radius: 50%;
    transition: all 0.2s ease-in;
    background-color: rgb(151, 151, 151);
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1rem;
    transition: all 0.2s ease-in;

}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: #0a0a23;
}

/*--------------------------MISIONES / BUENOS AIRES---------------------------------*/

/* Sección Principal */
section h2 {
    font-family: 'Crimson Text';
    color: #0a0a23;
    text-align: center;
    margin-top: 2rem;
}

.pag-provincias {
    font-family: 'Libre Baskerville';
    color: #9D8585;
    text-align: center;
    margin-bottom: 1.5rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.restdisplay {
    margin-left: 20px;
    /* Ajusta el margen izquierdo según sea necesario */
}

.restdisplay h3 {
    text-align: center;
}

.restdisplay img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.calificacion{
    text-align: center;
    padding-top: 1rem;
}


a.ubicacion {
    color: #0a0a23;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.restdisplay h3 {
    text-align: center;
    color: #0a0a23;
}

.restdisplay p {
    font-family: 'Lora';
    text-align: justify;
    margin: 1rem 0;
}

/* Barra lateral */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 18rem;
    margin-bottom: 1.5rem;
}



/*  COMENTARIOS */



.opiniones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border-radius:  10px;
}
.opiniones ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay espacio suficiente */
    gap: 10px; /* Espacio entre elementos */
}

.opiniones li {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 15px 5px;
    background-color: #FBEDE8;
    color: rgb(73, 72, 72);
    border: 1px solid white;
    border-radius: 0.3em;
}

/*--------------------------CONTACTO---------------------------------*/
.contenedorContacto {
    margin: auto;
    padding: 0px;
}

.titulo-form {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.leyenda {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/inicio.jpg') no-repeat center center fixed;
    /* Nueva configuración */
    background-size: cover;
    width: 100%;
}

.boton {
    padding-top: 6px;
    margin-top: 20px;
}

/*--------------------------RESPONSIVE---------------------------------*/

/*-----------------PANTALLAS PEQUEÑAS-----------------*/
@media screen and (max-width: 767px) {

    /* Barra de navegación */
    .navbar {
        padding: 0.5rem;
    }

    .navbar-brand {
        display: block;
        text-align: center;
    }

    /* Sección Principal */

    h1 {
        font-size: 2.5em;
    }

    /* Provincias */

    .provincias {
        padding: 1.5rem;
    }

    .provincias .columna {
        padding: 1rem;
        margin-bottom: 1rem;
    }


    /* Contenido Index */
    .contenidoindex {
        padding: 1rem;
        flex-direction: column;
    }

    .parrafo-principal {
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem 0;
    }

    /* Video de YouTube */

    .video-container iframe {
        width: 100%;
        height: 100%;
    }

    /* Comentarios */
    .opiniones {
        width: 100%;
    }

    .opiniones li {
        width: 100%;
    }
}

/* Galería */
.galeria {
    padding: 1rem;
}

.galeria .carousel-inner img {
    width: 100%;
    height: auto;
}

/* Footer */
.seccion-oscura {
    padding: 1rem;
}

.footer-logo {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
}

.footer-texto {
    font-size: 1.2rem;
}

.iconos-redes-sociales a {
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px;
}

.iconos-redes-sociales i {
    font-size: 1.2rem;
}


/* MISIONES / BUENOS AIRES*/
h2 {
    font-size: 2em;
}

.pag-provincias {
    font-size: 1.5em;
}

.contenido {
    padding: 1rem;
}

.restdisplay img {
    width: 100%;
}

a.ubicacion {
    font-size: 0.8rem;
}

.restdisplay h3 {
    font-size: 1.2em;
}

.restdisplay p {
    font-size: 0.9rem;
}

.sidebar .card {
    width: 100%;
}

#map {
    background-color: #9B948C;
    height: 9.375rem;
}


/*-----------------PANTALLAS MEDIANAS-----------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 3em;
    }

    .provincias-titulo {
        font-size: 1.8rem;
    }

    .parrafo-principal,
    .comentarios,
    .galeria,
    .footer-texto {


        font-size: 1.2rem;
    }

    .galeria .carousel-inner img {
        width: 80%;

        margin: 0 auto;
    }
}



/*-----------------PANTALLAS GRANDES-----------------*/

@media (min-width: 1024px) {
    h1 {
        font-size: 4.5em;
    }


    .provincias-titulo {
        font-size: 2rem;
    }

    .parrafo-principal {
        font-size: 1.5rem;
    }


    .video-container iframe {
        width: 800px;
        height: 600px;
    }


    .opiniones li {
        font-size: 1.2rem;
    }


    .footer-texto {
        font-size: 1.2rem;
    }


    .iconos-redes-sociales a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .iconos-redes-sociales i {
        font-size: 1.5rem;
    }

    /* MISIONES / BUENOS AIRES*/
    h2 {
        font-size: 3em;
    }

    .pag-provincias {
        font-size: 2em;
    }

    .restdisplay h3 {
        font-size: 1.5em;
    }

    .restdisplay p {
        font-size: 1.1rem;
    }
}