/*----------------- Header y barra de navegacion ----------------*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: #262626; */


}


body {
    font-family: 'Times New Roman', Times, serif;
    /* color: #262626; Lo coloque como comentario ya que no tenia ningún proposito en el momento*/
    margin: 0;
    background-color: #f8f4f3;
}


.contenedorgrid {
    width: 90%;
    max-width: 1100px;
    display: grid;
    gap: 10px;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 0.4fr 0.3fr;
    grid-template-areas:
        "Header Header Header"
        "titulo titulo titulo"
        "contenido contenido contenido "
        "sidebar sidebar sidebar"
        "footer footer footer";
       



}


#idheader {
    padding: 0.5rem 0.5rem;
    background-color: #90887f;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    grid-area: Header;
    place-content: flex-start;


}




.menuSuperior {
    display: flex;
    width: 70%;
    place-content: space-between;


}







i {
    color: #FBEDE8;
    margin-left: 0.7rem;
    font-size: small;
}


header * {
    display: inline;
}


header ul {
    float: right;
    margin-right: 0.5rem;
    
}


li {
    padding: 10px 20px 15px 5px;
    background-color:#3F93A6;
    color: rgb(239, 232, 232);
    
    
}

li:hover {
    background-color: #9B948C; /* Cambia el color cuando se coloca el mouse sobre el elemento */
    color: #FFFFFF; /* Cambia el color del texto cuando se coloca el mouse sobre el elemento */
   
}

a {
    text-decoration: none;
    color: #FBEDE8;
    font-size: 0.8rem
}




/*--------------------SECTION------------------*/


h1 {
    font-size: 3.5em;
    color: #FBEDE8;
}


#media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*codigo resposive*/

/* Media Query para pantallas de celular (hasta 767px) */
@media screen and (max-width: 767px) {
    #media {
        height: 80vh; /* Ajustar la altura para dispositivos móviles */
    }
}

/* Media Query para pantallas de tablet (768px a 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #media {
        height: 60vh; /* Ajustar la altura para tablet */
    }
}

/* Media Query para pantallas de monitor (a partir de 992px) */
@media screen and (min-width: 992px) {
    #media {
        height: 50vh; /* Altura original para monitores */
    }
}




/* --------------------------MISIONES------------------------  */




.titulo {
    color: #9B948C;
    font-size: 2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
}


h4 {
    color: #bd6e4f;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.4rem;
    text-decoration: underline;
}


h5 {
    color: #bd6e4f;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
}

h6{
    color: #eee;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
}


p {
    display: flex;
    font-size: 1rem;
    color: #c79d8d;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
}


.todo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}


img {
    padding: 0.5rem;
    height: 20rem;
    width: 20rem;
}


.Map {
    height: 20rem;
    width: 100rem;
    align-items: center;
    margin: 0.5rem;
}


/* --------------------------Capital------------------------  */


.Region {
    color: #9B948C;
    font-size: 2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
    text-shadow: 5px 10px 5px rgba(0, 0, 255, 0.25);
    grid-area: titulo;






}


.contenido {
    background-color: #bd6e4f;
    padding: 2rem;
    margin: 1rem 0.1rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: contenido;






}


img {
    padding: 0.5rem;
    height: 15rem;


}


h2 {
    text-align: center;
    color: #FFFFE8;
    text-decoration: underline;
    padding-bottom: 0.3rem;
    align-self: center;




}


.restdisplay {
    display: flex;
    width: 100%;
    height: auto;
    max-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;




}






div img {
    width: 100%;
    border-color: #FFFFE8;
    border-style: double;
    border-width: 0.5rem;
    flex: 0 1 auto;
    align-self: center;


}


.ubicacion {
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    flex: 0 1 auto;
    align-self: auto;
}


div p {
    font-size: 1rem;
    color: #FFFFE8;
    /* border-style: solid; */
    flex: 2 1 auto;
    align-self: auto;








}


#map {
    background-color: #9B948C;
    height: 150px;
}








.sidebar {
    margin: 0.5rem 0.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-area: sidebar;








}


div div {




    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;






}


.restopc {
    max-width: 100%;
    flex: 0 1 auto;
    align-self: auto;
    border-color: none;
    border-style: none;
    border-width: none;




}


.restopc:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-10px);
}


.restname {
    text-align: center;
    color: black;
    text-decoration: underline;
    padding-bottom: 0.3rem;
    font-size: medium;
    align-self: center;


}






















/* --------------- Pagina de contacto ---------------------- */


.contacto {
    width: 50vw;
    margin: auto;
    background-color: #88DFF2;
}


.field_contacto {
    border: 0px;
}


.leyenda_contacto {
    padding-top: 3%;
    margin: auto;
    font-size: 2.5em;
}


.input_contacto {
    margin: 1%;
}


.input_contacto label {
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 5%;
    border-bottom: solid 3px;
    border-color: #3F93A6;
    display: inline-block;
}


.input_contacto input {
    width: 97%;
    padding: 10px;
    font-size: 1.25em;
}


.input_contacto textarea {
    width: 97%;
    padding: 10px;
    resize: none;
    font-size: 1.25em;
}


.boton {
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: #3F93A6;
    border: 0px;
    border-radius: 45px;
    color: #eee;
}


/* --------------------------del footer------------------------  */


#idfooter {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    bottom: 0%;
    background-color: #9B948C;
    color: #FBEDE8;
    margin: 1rem 0.1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-area: footer;










}


footer p {


    color: #FBEDE8;
    justify-content: center;


}


.socialmedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color:#3F93A6;


}


div+a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #FBEDE8;
    font-size: 20px;
    padding: 15px;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 760px) {


    /* HEADER */


    /* SECTION */
    .Region {
        height: fit-content;
    }

}




@media (min-width:500px) {


    .contenedorgrid {
        width: 100%;
        max-width: 1700px;
        grid-template-rows: 0.1fr 0.2fr 1fr 0.4fr 0.1fr;
        grid-template-areas:
            "Header Header Header"
            "titulo titulo titulo"
            "contenido contenido sidebar "
            "contenido contenido sidebar"
            "footer footer footer";


    }


    /* HEADER */


    #idheader {
        padding: 1rem 1rem;
        background-color: #9B948C;
        height: 5rem;
    }


    #menu, #menu-check, #menu-abrir, #menu-cerrar{
        display: none;
    }


    .menuSuperior {


        place-content: space-around;


    }




    h1{
        font-size: regular;
        text-align: center;


    }


    i{ font-size: 3rem


    }

 /*LISTADO QUE AFECTA TMB AL INDEX*/
    li {
        padding: 1rem;
        border-radius: 2px;
             
    }


    a {
        text-align: center;
        text-decoration: none;
        color: #FBEDE8;
        font-size: 1rem
    }


    /* SECTION */


    .Region {
        color: #9B948C;
        font-size: 2rem;
        border: 0.3rem double #9B948C;
        text-align: center;
        margin: 1rem 0.1rem;
        padding: 2rem;
        text-shadow: 5px 10px 5px rgba(0, 0, 255, 0.25);
        grid-area: titulo;
   
   
   
    }


    div img {
        width: 100%;
        height: 50%;


    }


    #map {
        background-color: #9B948C;
        height: 150px;
    }




    /* Footer */


    footer {
        display: flex;
        width: 100%;
        height: 5px;
        padding: 10%;
        
    }
   


    .socialmedia {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        padding: 15px;


    }


    div+a {
        display: flex;
        text-align: center;
        flex-direction: column;
        color: #FBEDE8;
        font-size: 20px;
        padding: 15px;
    }






}


/*--------------------------------- index--------------------------*/

/* Estilos generales*/
.header {
    text-align: right;
    /* Otros estilos para el encabezado */
}


.parrafo-principal {
    /* Estilos para el párrafo principal */
    text-align: center; /* Para centrar el texto en el contenedor */
    font-size: 18px; /* Tamaño de fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    margin: 20px; /* Margen alrededor del párrafo para dispositivos más pequeños */
    font-style: italic; /* estilo en cursiva */
    background-size: cover;/*que ocupe todo el espacio*/
    background-position: center center;
    color: #eee
}


/*codigo resposive*/

/* Estilos para monitor o pantallas maS grandes */
@media screen and (min-width: 992px) {
    /*VIDEO DE YOUTUBE EN EL INDEX*/
    .video-container iframe {
        width: 800px;
        height: 450px;
    }
    
    .li-principal {
        padding: 10px 20px 15px 5px;
        block-size: auto;
        color: rgb(239, 232, 232);
        font-size: 16px;
    }
    
    
    
}

/* Estilos para tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
     /*VIDEO DE YOUTUBE EN EL INDEX*/
    .video-container iframe {
        width: 500px;
        height: 281px;
    }

    .icono-index{
        position: sticky;
        
        font-size: 0.25rem; /* Aumenta el tamaño del ícono */
        margin-top: 1rem; /* Agrega margen superior para separación */
    }

    .li-principal{
        padding: 10px 20px 15px 5px;
       
        block-size: auto;
        color: rgb(239, 232, 232);
        font-size: 16px;
        
    }
    
   
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    /*VIDEO DE YOUTUBE EN EL INDEX*/
    .video-container iframe {
        width: 320px;
        height: 180px;
    }


    .header {
        text-align: center; /* Centra el contenido del encabezado */
        /* Otros estilos específicos para pantallas pequeñas */
    }


    .parrafo-principal {
        font-size: 10vw; /* Cambia el tamaño de fuente para pantallas pequeñas */
        /* Otros estilos específicos para pantallas pequeñas */
    }
    .menuSuperior {
        text-align: right; /* Alinea todos los elementos a la derecha */
        padding: 0.5rem 0.5rem;
        background-color: #9B948C;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0%;
        z-index: 1;
        grid-area: Header;
        place-content: flex-start;
    }
    
    .li-contacto {
        display: block; /* Cambia el elemento a bloque para que esté en una línea separada en dispositivos móviles */
        margin: 5px 0; /* Espacio vertical entre elementos */
    }

    .header-index2{
        text-align: right 
    }
    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
      }
      
    .button4:hover {background-color: #e7e7e7;}

 /* menu pirncipal*/

    .li-principal {
        padding:10px 20px 0px 10px;
        color: rgb(239, 232, 232);
        font-size: 16px;
        flex-direction: column;
        text-align: center;
        
    }
    
    .nav-custom{
        position: sticky;
        top: 52px;
        justify-content: center;
        padding-bottom: 1rem;
    }

}

/* MAAASSS Estilos generales*/

/*fondo de pantalla le digo yo*/
.body-index{
    background-color: #ca9785
}



.menuSuperior{
        display: flex;
        width: 100%;
        padding: auto;
    
        
}

/* HEADEAR SUPERIOR: BOTON  DE BUSQUEDA E ICONO DE INDEX */
/* Estilos para el botón de búsqueda */
.boton-buscar {
   
    color: #9B948C; /* Color del texto */
    padding: 10px 20px; /*  Relleno del botón */
    border: none; /* Sin borde */
    border-radius: 0.5rem; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    
}

/* Estilos al pasar el mouse por encima del botón */
.boton-buscar:hover {
    /* Cambia el color de fondo al pasar el mouse */
    
}

/* Estilos para los headers*/
.header-index1{
    
}
.header-index2{
    
}






