/*----------------- Header y barra de navegacion ----------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.menuSuperior {
    display: flex;
}

header {
    padding: 1rem 0.5rem;
    background-color: #9B948C;
    height: 5rem;
}

i {
    color: #FBEDE8;
    margin-left: 0.5rem;
    font-size: 2rem;
}

h2 {
    box-sizing: border-box;
    font-family: Arial;
    color: rgb(83, 73, 62);
    background-color: #c79d8d;
    padding: 1.25rem;
    font-size: 0.7rem;
}

header * {
    display: inline;
}

header h1 {
    margin-left: 0.5rem;
}

header ul {
    float: right;
}

li {
    padding: 0.6rem;
    background-color: #85827f;
    border-radius: 4rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FBEDE8;
    font-size: 0.7rem;
}


/*--------------------SECTION------------------*/

h1 {
    font-size: 3.5em;
    color: #e9e8e8;
}

#media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    /*altura*/
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    /*no repite la imagen*/
    background-size: cover;
    /*que ocupe todo el espacio*/
    background-position: center center;
}

/*------------------------ Main ----------------------*/

/* De los restauranbtes */
h2 {
    box-sizing: border-box;
    color: rgb(83, 73, 62);
    background-color: #c79d8d;
    padding: 20px;
    font-size: 0.7em;
}

main {
    background-color: #F8F5F0;
}

#restaurantes {
    display: inline-block;
    width: 50%;
    margin: 1%;
}

.restaurante {
    background-color: #F1EAE5;
    border-radius: 15px;
    margin-bottom: 2%;
}

.nombre {
    padding-left: 2%;
    padding-top: 2%;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info * {
    padding-left: 2%;
    margin-bottom: 1%;
}

.direccion {
    width: 50%;
}

.puntuacion {
    width: 25%;
}

.horario {
    width: 100%;
    margin-bottom: 2%;
}

/* ---------------------------- De la seleccion -------------------------*/

#seleccion {
    display: inline-block;
    position: fixed;

}

.fachada {
    display: inline-block;
}

.imgfachada {
    height: 38vh;
    width: 100%;
}

.imagenes {
    display: inline-block;
}

img {
    display: inline;
    width: 22vh;
}

.mapa {
    display: inline-block;
}

.imgmapa {
    height: 38vh;
    width: 100%;
}

/* --------------------------MISIONES------------------------  */


.titulo {
    color: #9B948C;
    font-size: 1.2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
}

h4 {
    color: #bd6e4f;
    font-size: 1.1rem;
    text-align: center;
    margin: 1.4rem;
    text-decoration: underline;
}

h5 {
    color: #bd6e4f;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}

p {
    display: flex;
    font-size: 0.7rem;
    color: #c79d8d;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
}

.todo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

img {
    padding: 0.5rem;
    height: 15rem;
    width: 15rem;
}

.Map {
    height: 20rem;
    width: 100rem;
    align-items: center;
    margin: 0.5rem;
}

/* --------------------------del footer------------------------  */

footer {
    background-color: #9B948C;
    height: auto;
}


/*-------------------TABLETS---------------*/

@media (min-width: 768px) {
    a {
        font-size: 0.8rem;
    }

    .titulo {
        font-size: 1.7rem;
        border: 0.3rem double #9B948C;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    img {
        padding: 0.5rem;
        height: 15rem;
        width: 15rem;
    }
}


/*-------------------ESCRITORIO---------------*/

@media (min-width: 992px) {
    .titulo {
        font-size: 2.5rem;
        border: 0.3rem double #9B948C;
    }

    h4 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    img {
        padding: 0.5rem;
        height: 20rem;
        width: 20rem;
    }
}