/*----------------- Header y barra de navegacion ----------------*/
* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


header {
    padding-top: 20px;
    padding-bottom: 6px;
    background-color: whitesmoke;
    height: 50px;
}

h2 {
    box-sizing: border-box;
    font-family: Arial;
    color:whitesmoke;
    background-color: rgb(232, 184, 111);
    padding: 20px;
    font-size: 0.7em;
}

header * {
    display: inline;
}

header h1 {
    margin-left: 5%;
}

header ul {
    margin-top: 8px;
    float: right;
    margin-right: 5%;
}

li {
    padding: 15px;
    background-color:#f7a45b;
    border-radius: 50px;
    font-weight: bold; 
    
}

a {
    text-decoration: none;
    color: #A62139;
}

/*--------------------SECTION------------------*/

h1 {
    font-size: 3.5em;
    color: #A62139;
    background-color: aliceblue;
    family: Arial

}

#media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    /*altura*/
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/inicio.pjn");
    background-repeat: no-repeat;
    /*no repite la imagen*/
    background-size: cover;
    /*que ocupe todo el espacio*/
    background-position: center center;
}

/*------------------------ Pagina de lista de restaurantes ----------------------*/

/* De los restauranbtes */

.lista_restaurantes {
    background-color:  #F2C299;
}

#restaurantes {
    display: inline;
    width: 15%;
    margin: 55%;
}

.restaurante {
    background-color: rgb(244, 182, 119);
    border-radius: 15px;
    margin-bottom: 2%;
}

.nombre {
    padding-left: 2%;
    padding-top: 2%;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info * {
    padding-left: 2%;
    margin-bottom: 1%;
}

.direccion {
    width: 50%;
}

.puntuacion {
    width: 25%;
}

.horario {
    width: 100%;
    margin-bottom: 2%;
}

/* De la seleccion */

#seleccion {
    display: inline-block;
    position: fixed;

}

.fachada {
    display: inline-block;
}

.imgfachada {
    height: 38vh;
    width: 100%;
}

.imagenes {
    display: inline-block;
}

img {
    display: inline;
    width: 22vh;
}

.mapa {
    display: inline-block;
}

.imgmapa {
    height: 38vh;
    width: 100%;
}

/* --------------- Pagina de contacto ---------------------- */

.contacto{
    width: 50vw;
    margin: auto;
    background-color: rgb(247, 161, 161);
}
.field_contacto{
    border: 0px;  
}
.leyenda_contacto{
    padding-top: 3%;
    margin: auto;
    font-size: 2.5em;
}
.input_contacto{
    margin: 1%;
}
.input_contacto label{
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 5%;
    border-bottom: solid 3px;
    border-color: brown;
    display: inline-block;
}
.input_contacto input{
    width: 97%;
    padding: 10px;
    font-size: 1.25em;
}
.input_contacto textarea{
    width: 97%;
    padding: 10px;
    resize: none;
    font-size: 1.25em;
}
.boton{
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: sandybrown;
    border: 0px;
    border-radius: 45px;
}

/* --------------------------del footer------------------------  */

footer {
    background-color: #f23b5d;
    padding: 30px;
}