/*----------------- Header y barra de navegacion ----------------*/
* {
    padding: 0px;
    margin: 0px;
    color: #262626;
}
header{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #262626;
    margin: 0;
    background-color: #FBEDE8;
}

.menuSuperior{
    display: flex;
}

header {
    padding: 0.5rem 0.5rem;
    background-color: #9B948C;
    height: 3.2rem;
}

i {
    color: #FBEDE8;
    margin-left: 0.7rem;
    font-size: 2rem;
}


header * {
    display: inline;
}

header h1 {
    margin-left: 0.5rem;
}

header ul {
    float: right;
    margin-right: 0.5rem;
}

li {
    padding: 0.9rem;
    background-color: #85827f;
    border-radius: 3.1rem;
    font-weight: bold;
    
}

a {
    text-decoration: none;
    color: #FBEDE8;
    font-size: 0.8rem;
}


/*--------------------SECTION------------------*/

h1 {
    font-size: 3.5em;
    color: #FBEDE8;
}

#media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    /*altura*/
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    /*no repite la imagen*/
    background-size: cover;
    /*que ocupe todo el espacio*/
    background-position: center center;
}


/* --------------------------MISIONES------------------------  */


.titulo {
    color: #9B948C;
    font-size: 2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
}

h4 {
    color: #bd6e4f;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.4rem;
    text-decoration: underline;
}

h5 {
    color: #bd6e4f;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
}

p {
    display: flex;
    font-size: 1rem;
    color: #c79d8d;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
}

.todo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

img {
    padding: 0.5rem;
    height: 20rem;
    width: 20rem;
}

.Map {
    height: 20rem;
    width: 100rem;
    align-items: center;
    margin: 0.5rem;
}

/* --------------- Pagina de contacto ---------------------- */

.contacto{
    width: 50vw;
    margin: auto;
    background-color: #88DFF2;
}
.field_contacto{
    border: 0px;  
}
.leyenda_contacto{
    padding-top: 3%;
    margin: auto;
    font-size: 2.5em;
}
.input_contacto{
    margin: 1%;
}
.input_contacto label{
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 5%;
    border-bottom: solid 3px;
    border-color: #3F93A6;
    display: inline-block;
}
.input_contacto input{
    width: 97%;
    padding: 10px;
    font-size: 1.25em;
}
.input_contacto textarea{
    width: 97%;
    padding: 10px;
    resize: none;
    font-size: 1.25em;
}
.boton{
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: #3F93A6;
    border: 0px;
    border-radius: 45px;
    color: #eee;
}

/* --------------------------del footer------------------------  */

footer {
    padding: 30px;
    background-color: #9B948C;
}
footer p{
    color: #FBEDE8;
}