* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: #262626; */

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #FBEDE8;
}

.contenedorgrid {
    width: 90%;
    max-width: 68.75rem;
    display: grid;
    gap: 0.625rem;
    margin: 0.625rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1.5fr 1.7fr 0.1fr;
    grid-template-areas:
        "Header Header Header"
        "titulo titulo titulo"
        "contenido contenido contenido "
        "sidebar sidebar sidebar"
        "footer footer footer";

}

#idheader {
    padding: 0.5rem 0.5rem;
    background-color: #9B948C;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    grid-area: Header;
    place-content: flex-start;


}

    .menuSuperior {
        display: inline;
        width: 100%;
        place-content: space-between;

    }

    /* menu de hamburguesa */

            
        #menu-check:not(:checked)~nav {
            display: none;
        }

        #menu-check:checked~nav {
            display: block;
        }

        #menu {
            display: block;
            color: #FBEDE8;
            font-size: 1.5em;
            font-weight: bold;
            border: 0.1875rem solid;
            border-radius: 0.3em;
            z-index: 9999;
            position: absolute;
            right: 0.5em;
            top: 0.5em
        }

        #menu-check {
            display: none;
        }

        #menu:hover {
            color: brown;

        }

        #menu-cerrar {
            display: none;
        }

        #menu-check:checked~label #menu-abrir {
            display: none;
        }

        #menu-check:checked~label #menu-cerrar {
            display: block;
        }

    #menu-check:not(:checked) ~ nav{
        display: none;
    }

    #menu-check:checked ~ nav{
        display: block;
    }

/* Termina el menu hamburguesa */

    header nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #9B948C;
        padding-top: 1.5em;
        padding-right: 1.5em;
        opacity: 0.9;
        color: #FBEDE8;
    
    
    }
    
    
    
    
    
    i {
        color: #FBEDE8;
        margin-left: 0.0rem;
        font-size: 2.5em;
    }
    
    /* header,
    ul,
    li {  
        display: block;    
        text-align: right;
    
    } */
    
    header ul {
        float: right;
        margin-right: 0.5rem;
    
    }
    
    .itemsmenu {
        display: block;
        margin-right: 10px; 
        padding: 0.4rem;
        font-weight: bold;
        text-align: right;
    
    }
    
    li a {
        text-decoration: none;
        background-color: #dfae98;
        padding: 5px;
        border-radius: 5px;
        color: brown;
        font-size: 1.2rem
    }
    
    .contenedorgridindex {
      width: 100%;
      display: grid;
      gap: 10px;
      margin: 10px auto;
      grid-template-columns: 1fr;
      
      grid-template-areas:
        "Headerindex "
        "media"
        "contenidoindex "
        "comentindex "
        "galeindex "
        "footer "
    
    
    
    
    }
    
    /* COMIENZA EL HEADER */
    #idheaderindex {
      padding: 0.5rem 0.5rem;
      background-color: #dfae98;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0%;
      z-index: 1;
      grid-area: Headerindex;
      place-content: flex-start;
    
    
    }
    
    #idheaderindex a i {
      color: #FBEDE8;
      margin-left: 0.0rem;
      font-size: 2.5em;
    }
    
    
    
    .buscador {
      display: flex;
      Justify-content: flex-end;
      font-size: 1.5em;
      position: absolute;
      right: 0%;
    
    }
    
    .boton-buscar {
      margin-right: 0.3rem;
    }
    
    .button4 {
      background-color: white;
      color: black;
      border: 2px solid #d17c7c;
    }
    
    .button4:hover {
      background-color: #d17c7c;
    }
    
    
    h1 {
      font-size: 3.5em;
      color: #FBEDE8;
    }
    
    /* TERMINA EL HEADER */
    
    
    
    /* header * {
        display: inline;
    } */
    
    
    /* header ul {
        float: right;
        margin-right: 0.5rem;
        
    } */
    
    .nav-principal {
      display: flex;
      flex-flow: column nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    
    }
    
    .nav-principal li {
      display: inline-block;
      padding: 10px 20px 15px 5px;
      background-color: #dfae98;
      color: rgb(239, 232, 232);
      padding: 10px 20px;
      color: rgb(239, 232, 232);
      border: 1px solid white;
      border-radius: 0.3em;
      list-style-type: disc;
    
    }
    .nav-principal li a {
      text-decoration: none;
      color: #FBEDE8;
    }
    
    /*  */
    
    
    
    
    li:hover {
      background-color: #9B948C;
      /* Cambia el color cuando se coloca el mouse sobre el elemento */
      color: #FFFFFF;
      /* Cambia el color del texto cuando se coloca el mouse sobre el elemento */
      border-right: none;
    }
    
     .tienda__contenedor a {
      text-decoration: none;
      color: #FBEDE8;
      font-size: 0.8rem;
      width: 100%;
    }


/*--------------------SECTION------------------*/

h1 {
    font-size: 3.5em;
    color: #FBEDE8;
}


#media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-area: media;
  }

/* --------------------------INDEX---------------------------  */
.contenidoindex {
  grid-area: contenidoindex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  font-size: auto;
}

.parrafo-principal {
  /* Estilos para el párrafo principal */
  text-align: center;
  /* Para centrar el texto en el contenedor */
  font-size: 1rem;
  /* Tamaño de fuente */
  line-height: 1.5;
  /* Espaciado entre líneas */
  margin: 1.25rem;
  /* Margen alrededor del párrafo para dispositivos más pequeños */
  font-style: italic;
  /* estilo en cursiva */
  background-size: cover;
  /*que ocupe todo el espacio*/
  background-position: center center;
  color: rgb(198, 59, 59)
}

.video-container iframe {

  width: 480px;
  height: 320px;
}



.opiniones {
  display: flex;
  align-self: center;
  justify-self: center;
  height: fit-content;
  display: inline-block;
  width: 100%;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  grid-area: comentindex;

}

.opiniones li {
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 20px 15px 5px;
  background-color: #dfae98;
  color: rgb(239, 232, 232);
  padding: 10px 20px;
  color: rgb(239, 232, 232);
  border: 1px solid white;
  border-radius: 0.3em;
}


.tienda__contenedor {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  grid-area: galeindex;
}

.tienda__contenedor img {
  width: 90%;
}

@media screen and (min-width: 768px) {

  .parrafo-principal {
    text-align: center;
    font-size: 2rem;
  }
    
  .nav-principal li a {
    font-size: 1.5rem;
  }

  

  .video-container iframe {
    width: 640px;
    height: 480px;
    align-items: center;
  }

  .opiniones {
    width: 80%;
  }

  #comentarios-list {
    display: flex;
    font-size: 1rem;
  }

  .tienda__contenedor {
    flex-direction: column;
    margin: 0%;
  }

  .imagenes-index {
    justify-content: center;
  }
  .tienda__contenedor img {
    width: 650px;
  
  }
  .tienda__contenedor a {
    width: 650px;
    margin: 1rem;
  
  }
}

@media screen and (min-width: 1440px) {
  .contenedorgridindex {
    width: 100%;
    display: grid;
    gap: 10px;
    margin: 10px auto;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.1fr 0.2fr 0fr 0fr 0.1fr;
    grid-template-areas:
      "Headerindex Headerindex"
      "media media"
      "contenidoindex contenidoindex "
      "comentindex comentindex "
      "galeindex  galeindex "
      "footer footer"
  }

  #idheaderindex{
 
  }

  #media{

  }

  .opiniones{
    
  }

  .tienda__contenedor{

  }
 /*es padre de parrafo, idbnav, video-container*/
  .contenidoindex{
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-flow: column nowrap;
   
  }
  .nav-principal li a {
    font-size: 2rem;
  }
  .nav-principal li {
    margin-left: 2rem;
  }
  

      .parrafo-principal {
        margin-top: 5rem;
        text-align: center;
        font-size: 2rem;
      }
      
      /*VIDEO DE YOUTUBE EN EL INDEX*/
        .video-container iframe {
          width: 1280px;
          height: 720px;
    
        }
        .opiniones h4 {
          font-size: 3rem;
        }
        #comentarios-list {
          display: flex;
          font-size: 1.5rem;
        }
  
        .tienda__contenedor{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 1024;
          justify-content: center;
          margin: 0%;
        }
        
        
        .tienda__contenedor img {
          width: 650px;
        
        }
        .tienda__contenedor a {
          width: 650px;
          margin: 1rem;
        
        }
      
        

    #idfooter{
      height: min-content;
    }
}

/* --------------------------MISIONES------------------------  */

/* 
/* --------------------------Capital------------------------  */

/* 
/* --------------------------Capital------------------------  */

.Region {
    color: #9B948C;
    font-size: 2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
    text-shadow: 0.3125rem 0.625rem 0.3125rem rgba(0, 0, 255, 0.25);
    grid-area: titulo;


}

.contenido {
    background-color: #dfae98;
    padding: 2rem;
    margin: 1rem 0.1rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: contenido;


}

h2 {
    text-align: center;
    color: #FFFFE8;
    text-decoration: underline;
    padding-bottom: 0.2rem;
    margin: 0.1rem;
    align-self: center;

}

.restdisplay {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0.1rem;
    max-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}


div img {
    width: 100%;
    border-color: #FFFFE8;
    border-style: double;
    border-width: 0.5rem;
    flex: 0 1 auto;
    align-self: center;

}

.ubicacion {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    flex: 0 1 auto;
    align-self: auto;
}

.cali {
    font-size: 1rem;
    text-align: center;

}

div p {
    font-size: 1rem;
    color: #FFFFE8;
    flex: 2 1 auto;
    align-self: auto;



}

#map {
    background-color: #9B948C;
    height: 9.375rem;
}



.sidebar {
    margin: 0.5rem 0.0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-area: sidebar;



}

div div {

    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.restopc {
    max-width: 100%;
    flex: 0 1 auto;
    align-self: auto;
    border-color: none;
    border-style: none;
    border-width: none;

}

.restopc:hover {
    box-shadow: 0rem 0.625rem 0.9375rem 0.3125rem(182, 182, 182, 1.5);
    transform: translateY(-0.625rem);
}

.restname {
    text-align: center;
    color: black;
    text-decoration: underline;
    padding-bottom: 0.3rem;
    font-size: medium;
    align-self: center;

}











/* --------------- Pagina de contacto ---------------------- */

.contenedorContacto {
    font-family: 'Montserrat', sans-serif;
    max-width: 1024px;
    margin: auto;
    padding: 0px;
}

.contacto{
    
    margin: 1rem 0rem;
    background-color: #dfae98;
}
form {
    display: flex;
    flex-direction: column;
}
.field_contacto{
    border: 0px;
}
.leyenda {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem 0rem;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                    url(../img/inicio.jpg);
}
.leyenda_contacto{
    text-align: center;
    font-size: 2.5em;
    color: white;   
}
.divisorContacto {
    display: Flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.input_contacto{
    margin: 15px;
}

.input_contacto label {
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 40px;

}
.input_contacto input{
    padding: 10px;
    font-size: 1.25em;
}
.input_contacto textarea{
    padding: 10px;
    width: 97%;
    height: 280px;
    resize: none;
    font-size: 1.25em;
}
.boton{
    font-family: 'Montserrat', sans-serif;
    align-self: end;
    margin: 25px 10px;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: #FFFFE8;
    border: 0px;
    border-radius: 34px;
}

/* --------------------------del footer------------------------  */

#idfooter {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90%;
    padding: 0;
    background-color: #9B948C;
    color: #FBEDE8;
    margin: 0.1rem 0.1rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    bottom: 0;
    position: relative;
    grid-area: footer;




}

footer p {

    color: #FBEDE8;

}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding: 0.9375rem; 

}

.socialmedia a {
    margin: 0.625rem; 
    font-size: 0.5rem;

}

#copyright {
    font-size: 0.9rem;

}

div+a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #FBEDE8;
    font-size: 0.9rem;
    padding: 0.9375rem; 
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 750px) {

    .contenedorgrid {
        grid-template-rows: 0.0fr 0.1fr 0.8fr 1.8fr 0.1fr;

    }

    #idheader {
        padding: 1rem 1rem;
        height: 5rem;

    }

    i {

        font-size: 3.5em;
    }

    #menu {
        font-size: 2em;
    }

    .Region {
        font-size: 3rem;

    }

    h2 {
        font-size: 2.5rem;

    }

    .cali {
        font-size: 1.5rem;
        text-align: center;

    }

    .restdisplay {

        justify-content: space-evenly;

    }

    header nav {
        padding-top: 2.5em;
        padding-right: 2.5em;
    }

    .ubicacion {
        font-size: 1.5rem;
    }

    div p {
        font-size: 1.5rem;

    }

    #map {
        background-color: #9B948C;
        height: 11.875rem; 
    }

    .restname {
        font-size: 1.5rem;

    }

    #copyright {
        font-size: 1.2rem;

    }

    div+a {
        font-size: 1.2rem;

    }

    
    li a{
        font-size: 1.5rem
    }
    

}
@media (max-width: 764px) {


    /* Contacto */
    .contenedorContacto {
        width: 425px;
    }
    .divisorContacto {
        flex-direction: column;
    }
    .input_contacto {
        margin: 7px;
    }
    input {
        margin: 7px;
    }
    label {
        margin: 7px;
    }
}



@media (min-width:1024px ) {

    .contenedorgrid {
        width: 100%;
        max-width: 1500px;
        grid-template-rows: 0.1fr 0.2fr 1fr 2fr 0.1fr;
        grid-template-areas:
            "Header Header Header"
            "titulo titulo titulo"
            "contenido contenido sidebar "
            "contenido contenido sidebar"
            "footer footer footer";

    }

    /* HEADER */


    #idheader {
        padding: 1rem 1rem;
        background-color: #9B948C;
        height: 5rem;
    }

    #menu,
    #menu-check,
    #menu-abrir,
    #menu-cerrar {
        display: none;
    }

    #menu-check:not(:checked)~nav {
        display: block;
    }
    
    #menu-check:checked~nav {
        display: block;
    }
    

    .menuSuperior {

        display: flex;
        place-content: space-around;
        align-items: center;
        align-content: center;
        justify-content: space-between;

    }

    header nav {
        padding-top: 0.7em;
        padding-right: 1em;
        align-items: center;
        align-content: center;
        justify-content: space-around;

    }



    i {
        margin-left: 0.0rem;
        font-size: 2.5em;
    }

    header,
    ul,
    li {
        display: inline;
        text-align: center;

    }

    header ul {
        float: right;
        margin-right: 0.5rem;

    }

    li {
        padding: 1rem;
        margin: 3rem, 3rem;
        background-color: #FBEDE8;
        border-radius: 3.1rem;
        font-weight: bold;

    }

    a {
        text-decoration: none;
        color: #9B948C;
        font-size: 1.2rem
    }

    /* SECTION */

    .Region {

        font-size: 3rem;

    }

    .ubicacion {
        text-align: center;
        font-size: 1.5rem;
    }

    .cali {
        font-size: 1.5rem;
    
    }

    .sidebar {     
        height: 97.67%;
        margin: 0.0rem 0.0rem;
    }
    

    /* Footer */

    .socialmedia {
        display: flex;
        flex-direction: row;

    }

    .socialmedia a {
        font-size: 1.5rem;

    }

    #copyright {
        margin-left: 1rem;
        font-size: 1.5rem;

    }

    div+a {

        font-size: 2rem;

    }


}

@media (max-width: 1024px) {
    .contenedorContacto {
        max-width: 764px;
    }
}    



