/*----------------- Header y barra de navegacion ----------------*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: #262626; */


}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #FBEDE8;
}


.contenedorgrid {
    width: 90%;
    max-width: 1100px;
    display: grid;
    gap: 10px;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1.5fr 1.7fr 0.1fr;
    grid-template-areas:
        "Header Header Header"
        "titulo titulo titulo"
        "contenido contenido contenido "
        "sidebar sidebar sidebar"
        "footer footer footer";




}


#idheader {
    padding: 0.5rem 0.5rem;
    background-color: #9B948C;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    grid-area: Header;
    place-content: flex-start;


}




    .menuSuperior {
        display: inline;
        width: 100%;
        place-content: space-between;


    }


    /* menu de hamburguesa */


           
        #menu-check:not(:checked)~nav {
            display: none;
        }


        #menu-check:checked~nav {
            display: block;
        }




        #menu {
            display: block;
            color: #FBEDE8;
            font-size: 1.5em;
            font-weight: bold;
            border: 3px solid;
            border-radius: 0.3em;
            z-index: 9999;
            position: absolute;
            right: 0.5em;
            top: 0.5em
        }




        #menu-check {
            display: none;
        }


        #menu:hover {
            color: brown;


        }


        #menu-cerrar {
            display: none;
        }


        #menu-check:checked~label #menu-abrir {
            display: none;
        }


        #menu-check:checked~label #menu-cerrar {
            display: block;
        }


    #menu-check:not(:checked) ~ nav{
        display: none;
    }


    #menu-check:checked ~ nav{
        display: block;
    }




/* Termina el menu hamburguesa */




    header nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #9B948C;
        padding-top: 1.5em;
        padding-right: 1.5em;
        opacity: 0.9;
        color: #FBEDE8;
   
   
    }
   
   
   
   
   
    i {
        color:#9B948C;
        margin-left: 0.0rem;
        font-size: 2.5em;
    }
   
    /* header,
    ul,
    li {  
        display: block;    
        text-align: right;
   
    } */
   
    header ul {
        float: right;
        margin-right: 0.5rem;
   
    }
   
    .itemsmenu {
        display: block;
        padding: 0.4rem;
        font-weight: bold;
        text-align: right;
   
    }
   
    li a {
        text-decoration: none;
        color: brown;
        font-size: 1.2rem
    }
   




/*--------------------SECTION------------------*/


h1 {
    font-size: 3.5em;
    color: #FBEDE8;
}


#media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    /*altura*/
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/inicio.jpg");
    background-repeat: no-repeat;
    /*no repite la imagen*/
    background-size: cover;
    /*que ocupe todo el espacio*/
    background-position: center center;
}




/* --------------------------MISIONES------------------------  */




/*
/* --------------------------Capital------------------------  */


.Region {
    color: #9B948C;
    font-size: 2rem;
    border: 0.3rem double #9B948C;
    text-align: center;
    margin: 1rem 0.1rem;
    padding: 2rem;
    text-shadow: 5px 10px 5px rgba(0, 0, 255, 0.25);
    grid-area: titulo;






}


.contenido {
    background-color: #dfae98;
    padding: 2rem;
    margin: 1rem 0.1rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: contenido;






}




h2 {
    text-align: center;
    color: #FFFFE8;
    text-decoration: underline;
    padding-bottom: 0.2rem;
    margin: 0.1rem;
    align-self: center;




}


.restdisplay {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0.1rem;
    max-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;




}






div img {
    width: 100%;
    border-color: #FFFFE8;
    border-style: double;
    border-width: 0.5rem;
    flex: 0 1 auto;
    align-self: center;


}


.ubicacion {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    flex: 0 1 auto;
    align-self: auto;
}


.cali {
    font-size: 1rem;
    text-align: center;


}


div p {
    font-size: 1rem;
    color: #FFFFE8;
    flex: 2 1 auto;
    align-self: auto;








}


#map {
    background-color: #9B948C;
    height: 150px;
}








.sidebar {
    margin: 0.5rem 0.0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-area: sidebar;








}


div div {




    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;






}


.restopc {
    max-width: 100%;
    flex: 0 1 auto;
    align-self: auto;
    border-color: none;
    border-style: none;
    border-width: none;




}


.restopc:hover {
    box-shadow: 0px 10px 15px 5px rgba(182, 182, 182, 1.5);
    transform: translateY(-10px);
}


.restname {
    text-align: center;
    color: black;
    text-decoration: underline;
    padding-bottom: 0.3rem;
    font-size: medium;
    align-self: center;


}
























/* --------------- Pagina de contacto ---------------------- */


.contacto {
    width: 50vw;
    margin: auto;
    background-color: #88DFF2;
}


.field_contacto {
    border: 0px;
}


.leyenda_contacto {
    padding-top: 3%;
    margin: auto;
    font-size: 2.5em;
}


.input_contacto {
    margin: 1%;
}


.input_contacto label {
    font-size: 1.5em;
    padding-bottom: 1%;
    margin-top: 5%;
    border-bottom: solid 3px;
    border-color: #3F93A6;
    display: inline-block;
}


.input_contacto input {
    width: 97%;
    padding: 10px;
    font-size: 1.25em;
}


.input_contacto textarea {
    width: 97%;
    padding: 10px;
    resize: none;
    font-size: 1.25em;
}


.boton {
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding: 20px 50px;
    background-color: #3F93A6;
    border: 0px;
    border-radius: 45px;
    color: #eee;
}


/* --------------------------del footer------------------------  */


#idfooter {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90%;
    padding: 0;
    background-color: #9B948C;
    color: #FBEDE8;
    margin: 0.1rem 0.1rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    bottom: 0;
    position: relative;
    grid-area: footer;



}


footer p {


    color: #FBEDE8;


}


.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding: 15px;


}


.socialmedia a {
    margin: 10px;
    font-size: 0.5rem;


}


#copyright {
    font-size: 0.9rem;


}


div+a {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #FBEDE8;
    font-size: 0.9rem;
    padding: 15px;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media (min-width: 750px) {




    .contenedorgrid {
        grid-template-rows: 0.0fr 0.1fr 0.8fr 1.8fr 0.1fr;




    }




    #idheader {
        padding: 1rem 1rem;
        height: 5rem;


    }


    i {


        font-size: 3.5em;
    }


    #menu {
        font-size: 2em;
    }




    .Region {
        font-size: 3rem;


    }


    h2 {
        font-size: 2.5rem;


    }


    .cali {
        font-size: 1.5rem;
        text-align: center;


    }




    .restdisplay {


        justify-content: space-evenly;




    }


    header nav {
        padding-top: 2.5em;
        padding-right: 2.5em;
    }


    .ubicacion {
        font-size: 1.5rem;
    }


    div p {
        font-size: 1.5rem;




    }


    #map {
        background-color: #9B948C;
        height: 190px;
    }


    .restname {
        font-size: 1.5rem;




    }


    #copyright {
        font-size: 1.2rem;


    }


    div+a {
        font-size: 1.2rem;


    }


   
    li a{
        font-size: 1.5rem
    }




}









@media (min-width:1440px) {


    .contenedorgrid {
        width: 100%;
        max-width: 1500px;
        grid-template-rows: 0.1fr 0.2fr 1fr 2fr 0.1fr;
        grid-template-areas:
            "Header Header Header"
            "titulo titulo titulo"
            "contenido contenido sidebar "
            "contenido contenido sidebar"
            "footer footer footer";


    }


    /* HEADER */






    #idheader {
        padding: 1rem 1rem;
        background-color: #9B948C;
        height: 5rem;
    }




    #menu,
    #menu-check,
    #menu-abrir,
    #menu-cerrar {
        display: none;
    }




    #menu-check:not(:checked)~nav {
        display: block;
    }
   
    #menu-check:checked~nav {
        display: block;
    }
   


    .menuSuperior {


        display: flex;
        place-content: space-around;
        align-items: center;
        align-content: center;
        justify-content: space-between;


    }


    header nav {
        padding-top: 0.7em;
        padding-right: 1em;
        align-items: center;
        align-content: center;
        justify-content: space-around;




    }








    i {
        margin-left: 0.0rem;
        font-size: 2.5em;
    }


    header,
    ul,
    li {
        display: inline;
        text-align: center;




    }


    header ul {
        float: right;
        margin-right: 0.5rem;


    }


    li {
        padding: 1rem;
        margin: 3rem, 3rem;
        background-color: #FBEDE8;
        border-radius: 3.1rem;
        font-weight: bold;




    }


    a {
        text-decoration: none;
        color: #9B948C;
        font-size: 1.2rem
    }


    /* SECTION */


    .Region {


        font-size: 3rem;


    }


    .ubicacion {
        text-align: center;
        font-size: 1.5rem;
    }


    .cali {
        font-size: 1.5rem;
   
    }


    .sidebar {    
        height: fit-content;
        margin: 0.0rem 0.0rem;
    }
   


    /* Footer */




    .socialmedia {
        display: flex;
        flex-direction: row;


    }


    .socialmedia a {
        font-size: 1.5rem;


    }


    #copyright {
        margin-left: 1rem;
        font-size: 1.5rem;


    }


    div+a {


        font-size: 2rem;


    }
}


/*--------------------------------- index--------------------------*/

/* Estilos generales*/
.header {
    text-align: right;
    /* Otros estilos para el encabezado */
}


.parrafo-principal {
    /* Estilos para el párrafo principal */
    text-align: center; /* Para centrar el texto en el contenedor */
    font-size: 18px; /* Tamaño de fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    margin: 20px; /* Margen alrededor del párrafo para dispositivos más pequeños */
    font-style: italic; /* estilo en cursiva */
    background-size: cover;/*que ocupe todo el espacio*/
    background-position: center center;
    background-color: #9B948C;
    color: brown
}
/* Agrega estilos generales al contenedor de comentarios */
/* Estilo para el contenedor de comentarios */
.contenedorcoment {
    
    background-color: #9B948C;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilo para cada comentario */
.comentarios {
    
    text-decoration-color: #3F93A6;
    margin: 10px 0;
    padding: 10px;
    
}

/* Estilo para el texto del comentario */
.comentarios p {
    margin: 0;
}

/* Estilo para el autor del comentario */
.comentarios strong {
    font-weight: bold;
    color: #333;
}

/* Estilo para la fecha (si tienes la información de fecha en tus comentarios) */
.comentarios .fecha {
    font-style: italic;
    color: #777;
}

/*codigo resposive*/

/* Estilos para monitor o pantallas maS grandes */
@media screen and (min-width:1440px) {
    
    .body-index{
        width: 100%;
        max-width: 1500px;
        grid-template-rows: 0.1fr 0.2fr 1fr 2fr 0.1fr;
        grid-template-areas:
            "Header Header Header"
            "titulo titulo titulo"
            "contenido contenido sidebar "
            "contenido contenido sidebar"
            "footer footer footer";

    }
    
    /*VIDEO DE YOUTUBE EN EL INDEX*/
    .video-container iframe {
        width: 800px;
        height: 450px;
    }
    
    a {
        text-decoration: none;
        color: #9B948C;
        font-size: 1.2rem
    }
    
    
    i {
        margin-left: 0.0rem;
        font-size: 2.5em;
        
    }
    
}

/* Estilos para tablets 
@media screen and (min-width: 768px) and (max-width: 991px) {
     /*VIDEO DE YOUTUBE EN EL INDEX
    .video-container iframe {
        width: 500px;
        height: 281px;
    }

    .icono-index{
        position: sticky;
        
        font-size: 0.25rem; /* Aumenta el tamaño del ícono 
        margin-top: 1rem; /* Agrega margen superior para separación 
    }

    
   
}*/




/* Estilos para dispositivos móviles */
@media screen and (max-width: 750px) {
    .body-index{

    }
    
    
    /*VIDEO DE YOUTUBE EN EL INDEX*/
    .video-container iframe {
        width: 320px;
        height: 180px;
    }


    .header {
        text-align: center; /* Centra el contenido del encabezado */
        /* Otros estilos específicos para pantallas pequeñas */
    }
  

    .parrafo-principal {
        font-size: 10vw; /* Cambia el tamaño de fuente para pantallas pequeñas */
        /* Otros estilos específicos para pantallas pequeñas */
    }
    .menuSuperior {
        text-align: right; /* Alinea todos los elementos a la derecha */
        padding: 0.5rem 0.5rem;
        background-color: #9B948C;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0%;
        z-index: 1;
        grid-area: Header;
        place-content: flex-start;
    }
    
    .li-contacto {
        display: block; /* Cambia el elemento a bloque para que esté en una línea separada en dispositivos móviles */
        margin: 5px 0; /* Espacio vertical entre elementos */
    }

    .header-index2{
        text-align: right 
    }
    .button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
      }
      
    .button4:hover {background-color: #e7e7e7;}




    /* MAAASSS Estilos generales*/


.body-index{
    
    grid-template-rows: 0.0fr 0.1fr 0.8fr 1.8fr 0.1fr;
    color: rgba(255, 255, 255, 0.7); /* Blanco con una opacidad del 70% */
/*fondo de pantalla le digo yo*/
}



.menuSuperior{
        display: flex;
        width: 100%;
        padding: auto;
    
        
}

/* HEADEAR SUPERIOR: BOTON  DE BUSQUEDA E ICONO DE INDEX */
/* Estilos para el botón de búsqueda */
.boton-buscar {
   
    color: #9B948C; /* Color del texto */
    padding: 10px 20px; /*  Relleno del botón */
    border: none; /* Sin borde */
    border-radius: 0.5rem; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    
}





